<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss} %-5level - %msg%n" charset="UTF-8"/>
        </Console>

        <File name="File" fileName="logs/tests.log">
            <PatternLayout pattern="%d{HH:mm:ss} %-5level - %msg%n" charset="UTF-8"/>
        </File>
    </Appenders>

    <Loggers>
        <Root level="info">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="File"/>
        </Root>
    </Loggers>
</Configuration>
